# ----------------------------------------------------------------------------- 
# Databse [No Docker connection]
# ----------------------------------------------------------------------------- 
DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:3333/postgres" 

# ----------------------------------------------------------------------------- 
# Webhook
# ----------------------------------------------------------------------------- 
WEBHOOK_BANK_SECRET=<YOUR_WEBHOOK_BANK_SECRET>