# ----------------------------------------------------------------------------- 
# Databse
# ----------------------------------------------------------------------------- 
DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:3333/postgres" 
DATABASE_URL_UNPOOLED="postgresql://postgres:mysecretpassword@localhost:3333/postgres"

# ----------------------------------------------------------------------------- 
# Webhook
# ----------------------------------------------------------------------------- 
WEBHOOK_BANK_SECRET=<YOUR_WEBHOOK_BANK_SECRET>

#------------------------------------------------------------------------------
# Redis
#------------------------------------------------------------------------------
UPSTASH_REDIS_REST_URL=<Redis URL>
UPSTASH_REDIS_REST_TOKEN=<Redis Token>

#------------------------------------------------------------------------------
# Environment
#------------------------------------------------------------------------------
ENVIRONMENT="development"

# ----------------------------------------------------------------------------- 
# USE_ADAPTER: a flag to enable/disable the prisma adapter for neon
# -----------------------------------------------------------------------------
USE_ADAPTER=true